
/*input.inline{
    padding:8px 1em;
    border: none;
    background: none;
    display: inline-block;
    margin:-4px;
}



input.inline:focus {
    background-color:#daebf2;
    background: transparent;
    box-shadow: none;
    -webkit-box-shadow:none;
    outline: none;
}
*/

input.inline.full{
    height:100%;
    width:100%;
    display:block;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    margin:0;
}

input.state-input{
    width:30px;
}
input.state-movement{
    width:70px;
}
input.state-nextstate{
    width:100px;
}

input.ng-invalid{
    /*background-color:#ffe6e6 !important;*/
    border:1px solid #ff0000;
    -moz-box-shadow:  0 0 5px #ff0000;
    -webkit-box-shadow:  0 0 5px #ff0000;
    box-shadow:  0 0 5px #ff0000;
}


.icon-plus:before{
    content: '+ New';
}

.icon-remove:before{
    content: 'delete';
}

.icon-arrow-down:before{
    content: '\2193';
}

.icon-arrow-right:before{
    content: '\2192';
}

.turing-table{
    overflow-x: scroll;
    width:100%;
}


.turing-table table .noborder{
    border:none;
    background: none;
}

.turing-table table{
    border-collapse: collapse;
    text-align: left;
}

.turing-table table td{
    width:200px;
    min-width: 200px;
}

.turing-table table td,
.turing-table table th{
    border:1px solid #bbbbbb;
    border-collapse: collapse;

    padding:4px;
}

.turing-table table th{
    background-color:#f9f9f9;
}



.turing-table {
    width: 100%;
    overflow-y: hidden;
    overflow-x: auto;
    -ms-overflow-style: -ms-autohiding-scrollbar;
}
.turing-table > .table {
    margin-bottom: 0;
}
.turing-table> .table > thead > tr > th,
.turing-table> .table > tbody > tr > th,
.turing-table> .table > tfoot > tr > th,
.turing-table> .table > thead > tr > td,
.turing-table> .table > tbody > tr > td,
.turing-table> .table > tfoot > tr > td {
    white-space: nowrap;
}
