<div class="toolbar">
    <button ng-click="undo()" ng-disabled="canUndo()"><span class="fa fa-undo"></span> Undo</button>
</div>
<table id="edittable" class="table table-bordered table-hover">
    <thead>
    <tr>
        <th class="noborder"></th>
        <th class="noborder"></th>
        <th ng-repeat="c in inputs track by $index">
            <button ng-click="deleteInput($index)">
                <span class="fa fa-times"></span>
                <span class="fa fa-chevron-down"></span>
            </button>
        </th>
    </tr>
    <tr>
        <th class="noborder"></th>
        <th class="noborder"></th>
        <th ng-repeat="c in inputs track by $index" class="th-input">
            <input class="inline full" type="text" ng-model="c"
                   ng-maxlength="1"
                   size="" unique-input="inputs" program="data" index="$index" ng-change="update()"
                   ng-model-options="{ debounce: 500 }"
                    ng-pattern="/[\w#$*\.^]/"/>
        </th>
        <th>
            <button ng-click="addInput()"><span class="fa fa-plus"></span> New</button>
        </th>
    </tr>
    </thead>
    <tbody>
    <tr ng-repeat="row in states track by $index">
        <th>
            <button ng-click="deleteState($index)"><span
                    class="fa fa-times"></span>
                <span class="fa fa-chevron-right"></span></button>
        </th>
        <th scope="row" ng-init="rowIndex=$index" class="th-input">
            <input class="inline full" type="text" ng-model="row"
                   size="" unique-state="states" program="data" index="rowIndex" ng-change="update()"
                   ng-model-options="{ debounce: 500 }"/>
        </th>
        <td ng-repeat="col in inputs track by $index" row="row" column="col"
            ng-init="data=getElementAt(row,col)" state-editor="getElementAt(row,col)" callback="updateElementAt"></td>
    <tr>
        <th colspan="2">
            <button ng-click="addState()"><span class="fa fa-plus"></span> New</button>
        </th>
    </tr>
    </tbody>
</table>