<table id="edittable" class="table table-bordered table-hover">
    <thead>
    <tr>
        <th class="noborder"></th>
        <th class="noborder"></th>
        <th ng-repeat="c in inputs track by $index">
            <button class="btn btn-xs btn-danger" ng-click="deleteInput($index)">
                <span class="icon icon-remove"></span>
                <span class="icon icon-arrow-down"></span>
            </button>
        </th>
    </tr>
    <tr>
        <th class="noborder"></th>
        <th class="noborder"></th>
        <th ng-repeat="c in inputs track by $index" class="th-input">
            <input class="inline full" type="text" ng-model="c"
                   size="" unique-input="inputs" program="data" index="$index" ng-change="update()">
        </th>
        <th>
            <button class="btn btn-default" ng-click="addInput()"><span class="icon icon-plus"></span>
                Input
            </button>
        </th>
    </tr>
    </thead>
    <tbody>
    <tr ng-repeat="row in states track by $index">
        <th>
            <button class="btn btn-xs btn-danger" ng-click="deleteState($index)"><span
                    class="icon icon-remove"></span>
                <span class="icon icon-arrow-right"></span></button>
        </th>
        <th scope="row" ng-init="rowIndex=$index" class="th-input">
            <input class="inline full" type="text" ng-model="row"
                   size="" unique-state="states" program="data" index="rowIndex" ng-change="update()">
        </th>
        <td ng-repeat="col in inputs track by $index" row="row" column="col"
            ng-init="data=getElementAt(row,col)" state-editor="getElementAt(row,col)" callback="updateElementAt"></td>
    <tr>
        <th colspan="2">
            <button class="btn btn-default" ng-click="addState()"><span class="icon icon-plus"></span>
                State
            </button>
        </th>
    </tr>
    </tbody>
</table>
